@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
    @font-face {
        font-family: 'Valorant';
        src: url('../asset/Valorant/Valorant.ttf');

    }
    @font-face{
        font-family: 'Sega';
        src: url('../asset/Sega/SEGA.TTF');
    }
    .text-val{
        font-family:"Valorant";
    }
    .text-sega{
        font-family: "Sega";
    }
/* animation kemon */
    .rotating{
        animation: rotate 8s infinite ease-in-out;
    }
    .running{
        animation: run 4s infinite ease-in-out;
    }
    @keyframes rotate {
        0% {
            transform:rotateY(0deg) ;
        }
        50%{
            transform: rotateY(180deg);
        }
        51%{
            transform: rotateY(0deg);
        }
        100%{
            transform:rotateY(180deg) ;
        }
    }
    @keyframes run {
        0% {
            transform:translateX(0%) ;
        }
        50% {
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }
/* animation expand */
    .trans-item {
        transition: width 2s;
    }

    .second-trans{
        /* background: #000; */
        transition: 2s ease;
        margin-top: 0.5rem;
    }

    .habit{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;
        transition: 2s ease;
        padding-top:5px;

    }
    .habit:hover{
        height: 400px;
    }

    @media only screen and (min-width: 768px) {
        .width-trans:hover+.second-trans {
            transform: translateY(80px);
        }

    }
    @media only screen and (min-width: 1024px) {
        .width-trans:hover+.second-trans {
            transform: translateY(110px);
        }

    }
    @media only screen and (min-width: 1280px) {
        .width-trans:hover+.second-trans {
            transform: translateY(145px);
        }
    }

.gradient-animated {
    --angle: 0deg;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 3s rotateGradient linear infinite;
}

@keyframes rotateGradient {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}